
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > div {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 20px 0 0px; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel div {margin-right: 5px}


 /* Direction Nav */
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block;
/*	 background: url(../images/bg_direction_nav.png) no-repeat 0 0; 
*/	 position: absolute; top: 50%; cursor: pointer; 
	 text-indent: -9999px; opacity: 0; 
	 -webkit-transition: all .3s ease;
 }
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
 /* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block;
	 background: #666; background: rgba(0,0,0,0.5); 
	 cursor: pointer; text-indent: -9999px; 
	 -webkit-border-radius: 2px !important; 
	 -moz-border-radius: 2px !important; 
	 -o-border-radius: 2px !important; 
	 border-radius: 2px!important; 
	 box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
 }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

.flex-direction-nav a {
  text-indent: 0;
  font-size: 0;
  background: #343331;
  width: 40px;
  height: 75px;
  line-height: 75px;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.flex-direction-nav a:before {
  content: '\f105';
  font-family: 'PageLinesFont';
  font-size: 32px;
}
.flex-direction-nav a.flex-prev {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.flex-direction-nav a.flex-prev:before {
  content: '\f104';
}
.flex-direction-nav a:hover {
  text-decoration: none;
}
.flex-control-nav {
  bottom: 10px;
  right: 5px;
  width: auto;
}
.flex-control-nav li {
  margin: 0 3px;
}
.flex-control-nav li a {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  height: 14px;
  width: 14px;
  border: 2px solid #464b4d;
  background: transparent;
}
.flex-control-nav li a.flex-active {
  border-color: #ffffff;
}
.flexslider-carousel {
  position: relative;
}
.flexslider-carousel .flex-direction-nav a {
  opacity: 0.8;
  filter: alpha(opacity=80);
  background: #ff5821;
  width: 30px;
  height: 50px;
  line-height: 50px;
  top: 40%;
}
.flexslider-carousel .flex-direction-nav a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.flexslider-carousel .flex-direction-nav a.flex-prev {
  left: 0;
}
.flexslider-carousel .flex-direction-nav a.flex-next {
  right: 0;
}
.flexslider .slides img {
  width: auto;
  display: inline;
}
.slide img,
.slide .caption {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.slide .caption {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.slide.animate-in img,
.slide.animate-in .caption {
  opacity: 1;
  filter: alpha(opacity=100);
}


.flexslider h1,
.flexslider h2,
.flexslider h3,
.flexslider h4{
	margin-bottom: 20px;
}

.flexslider .textbox-wrap{
	padding-right: 40px !important;
	text-shadow: rgba(125,129,133,0.62) 1px 1px 1px;
}



